## Ask Question
Can we predict the maximum temperature tomorrow for Seattle, Washington given one year of historical data?

The data we have available is the maximum temperatures in Seattle from the National Oceanic and Atmospheric Administration's (NOAA) [Climate Data Online Tool](https://www.ncdc.noaa.gov/cdo-web/)

## Data Acquisition

In [1]:
# Impor pandas for data manipulation
import pandas as pd

In [3]:
# Read in the data from the folder under notebooks folder (dataframes)

features = pd.read_csv('/notebooks/dataframes/temps.csv')

In [4]:
features.head(5)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

## Identify Anomalies/ Missing Data

In [5]:
print('The shape of our features is"', features.shape)

The shape of our features is" (348, 12)

In [6]:
# Descriptive statistics for each column
features.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

In [7]:
# Use datetime for dealing with dates
import datetime

In [8]:
# Get years, months, and days

years = features['year']
months = features['month']
days = features['day']

In [10]:
# List and convert to datetime object

dates = [str(year) + '-' + str(int(month)) + '-' + str(int(day)) for year, month, day in zip(years, months, days)]
dates = [datetime.datetime.strptime(date, '%Y-%m-%d') for date in dates]

In [11]:
# Import matplotlib for plotting and use magic command for Jupyter Notebooks
import matplotlib as plt

%matplotlib inline

# Set the style
plt.style.use('fivethirtyeight')

In [13]:
# Set up the plotting layout#
fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(nrows=2, ncols=2, figsize = (10,10))
fig.autofmt_xdate(rotation = 45)

# Actual max temperature measurement
ax1.plot(dates, features['actual'])
ax1.set_xlabel('');
ax1.set_ylabel('Temperature');
ax1.set_title('Max Temp')

AttributeError: module 'matplotlib' has no attribute 'subplots'